#box1 {
  background-image: url("../../images/bague.jpeg");
  background-position: center;
  background-size: cover;
  padding: 90px;    
  margin: 5px;
  flex-basis: 300px;
  flex-grow: 1;
}

#box1:hover {
	background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%),url("../../images/bague.jpeg");
	transition: 0.5s;
}


#box2 {
  background-image: url("../../images/collier.jpeg");
  background-position: center;
  background-size: cover;
  padding: 90px;    
  margin: 5px;
  flex-basis: 300px;
  flex-grow: 1;
}

#box2:hover {
	background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%),url("../../images/collier.jpeg");
	transition: 0.5s;
}	

#box3 {
  background-image: url("../../images/goodies.jpeg");
  background-position: center;
  background-size: cover;
  padding: 90px;    
  margin: 5px;
  flex-basis: 300px;
  flex-grow: 1;
}

#box3:hover {
	background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%),url("../../images/goodies.jpeg");
	transition: 0.5s;
}

#box4 {
	display: flex;
	text-align: justify;
	padding: auto;
	margin: 30px;
	align-items: center;
  border: 4mm ridge rgba(255, 121, 71, 0.5);
}

#box4 p {
  margin-right: 20px;
}

.image_lien {
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 50px;
}
